body{
    color: #007EA7;
}
.logout{
  color: #007EA7; float:right; margin-right:2em; margin-top:1.5em;
}
.searchbox{
  display: inline-block;
  margin-left: 40px;

}
.button1{
  color:#007EA7;
  background-color: white;
  margin-left: 20px;
  margin-top: 2em;
  border: 1px solid #007EA7;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#007EA7;
  opacity: 1;
}
.search{
    border: 1px solid #007EA7;
}
.myimage{
    height:350px;
    width:1300px;
    }
.welcome{
  margin-left: 50px;
  color: #007EA7 ;
}
.center{
  text-align: center;
  margin-left: 50px;
}
